:root {
  --border-radius: 10px;
  --blob-left: 238px;
}

.project {
  width: 100%;
  margin: 1em 0 2em 0;
}

.project > div {
  background: rgb(34, 33, 52);
  border-radius: var(--border-radius);
  position: relative;
  height: 100%;
  padding: 1em;
  margin: 0 0.5em 0 0.5em;
}

.light .project {
  background-color: #d8e6ff;
  color: #000;
  transition: all 0.5s;
}

.light .open {
  background-color: #000;
  color: #fff;
}

.project > p {
  margin-top: -1.2rem;
}

.project .tech-stack {
  display: flex;
  flex-wrap: wrap;
}

.light .tech-stack {
  color: #fff;
  transition: all 0.5s;
}

.project .tech-stack div {
  min-height: 20px;
  min-width: 60px;
  max-height: 20px;
  max-width: 60px;
  font-size: 0.6rem;
  padding: 0.4rem;
  margin: 0 0.5rem 0.25rem 0;
  display: grid;
  place-items: center;
  background: rgb(25, 23, 32);
  border-radius: var(--border-radius);
}

.project .btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project .btns a {
  background: rgb(245, 242, 245);
  color: rgb(34, 33, 52);
  text-decoration: none;
  font-weight: 600;
  border-radius: var(--border-radius);
  display: grid;
  place-items: center;
  padding: 0.5em 1em 0.5em 1em;
}

.open {
  background: rgb(245, 242, 245);
  width: 50px;
  height: 50px;
  border-radius: 50% 10px 50% 50%;
  position: absolute;
  color: rgb(34, 33, 52);
  display: grid;
  place-items: center;
  top: 0;
  right: 0;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 430px) {
  :root {
    --blob-left: 200px;
  }

  .project {
    margin: 0 0 2rem 0;
  }
}

@media (max-width: 767px) {
  .project {
    width: 100%;
    margin: 1em 0 2em 0;
  }
}

/* Styles for devices with a minimum width of 768px and a maximum width of 1023px (Tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
  .project {
    width: 33.333333%;
  }
}

/* Styles for devices with a minimum width of 1024px (Desktop) */
@media (min-width: 1024px) {
  .project {
    width: 33.333333%;
  }
}
